@model DentAssist.Models.Entities.TratamientoPropuesto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TratamientoPropuesto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.planId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.planId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEstimada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEstimada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPeso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoPeso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenSecuencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdenSecuencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacionesPaso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacionesPaso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
