@model IEnumerable<DentAssist.Models.Entities.HistorialTratamiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PacienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TratamientoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OdontologoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRealizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TratamientoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdontologoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRealizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
